
body,
html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  /* background-color: #939393; */
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; */
}

.App-header {
  position: relative;
  top: 100px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  /* background-color: #282c34; */
  min-height: 64px;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-header h1 {
  margin: auto;
  font-size: 32px;
}

.hint {
  display: block;
  width: 100%;
  text-align: center;
}

.contextButton {
  background: transparent;
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.main {
  position: absolute;
  bottom: 55vh;
  left: 0;
  height: calc(100vh - 64px);
  width: 100vw;
  overflow: hidden hidden;
}

.canvas {
  height: 100%;
  width: 100.4%;
}
