#password1 {
    background: rgba(#faf2df, 0.55);
    height: 90vh;
    width: 100vw;

    .Pcontainer {
        margin-left: 10vw;
        display: flex;

        .beforeImage,
        .afterImage {
            background-repeat: no-repeat;
            background-size: cover;
            height: 90vh;
            width: 41vw;
        }

        .beforeImage {
            background-image: url("../../images/Login-amico.png");
        }
        .afterImage{
            background-image: url("../../images/Emails-amico.png");
        }
        .PbuttonsContainer{
            display: flex;
            flex-direction: column;
            gap: 5rem 
        }
        .PtextContainer {
            .input-block {
                width: 22vw;
            }

            .Pbutton {
                width: 22vw;
                border-radius: 0.8rem;
                place-content: flex-start;
                gap: 6.5em;
                color: #f0f0f0;
            }

            #email {
                background-color: transparent;
            }

            width: 52vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                padding: 0.2rem;
            }

            .Psection {
                margin-bottom: 1.5rem;
                text-align: center;
            }

        }
    }
}